/* GENERAL STYLES */
*{
    font-family: 'Rampart One', cursive;
    font-size: 25px;
}

.headerTitle{
    background-color: #F2BB3B;
    margin: 0%;
    padding: 0%;
    height: 60px;
    width: 100vw;
}

h1{
    color: white;
    margin: 0%;
    padding: 7px;
    font-size: 45px;
}

h3{
    font-size: 35px;
}

/* QUIZ SECTION */
/* Main container */
.mainPage{
    display: block;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
    width: 100vw;
    min-height: 100vh;
}

/* To center all the content */
.divCenterSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/* SPA - QUESTION */
.quizSection{
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.418), 0 6px 20px 0 rgba(0, 0, 0, 0.473);
}

.questionSection{
    width: 90%;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

/* SPA - ANSWERS */
.answersSection{
    width: 90%;
    min-height: 450px;
}

/* blocks to align answers */
div.answerblockone, div.answerblocktwo{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    text-align: center;
}
/* answer option list*/
li{
    padding: 40px;
    margin: 10px;
    width: 30%;
    border-radius: 5px;
}

li.optionone{
    background-color: #04AEF1;
}

li.optiontwo{
    background-color: #86C093;
}

li.optionthree{
    background-color: #d85a5d;
}

li.optionfour{
    background-color: rgb(181, 111, 25);
}

/* Hide radiobutton */
.answersSection input[type="radio"] {
    opacity: 0; 
    position: fixed;
    width: 0;
}  
.answersSection label {
    display: inline-block;
    padding: 20px 20px;
}

section.answersSection input[type="radio"]:focus + label {
    background-color: rgba(12, 12, 12, 0.317);
    color: white;
}

/* SUBMIT */
.submitSection{
    width: 90%;
    min-height: 50px;
    display: flex;
    justify-content:right;
}

button{
    background-color: #2880c1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    align-self: center;
  }
  
button:hover {
    background-color: #142f52;
  }

/* RESPONSIVE */
@media screen and (max-width: 1000px){
    h1{
        font-size: 1.2em;
    }

    h3, button{
        font-size: 1em;
    } 

    label{
        font-size: 0.8em;
    }

    .questionSection{
        min-height: auto;
    }
    
    .answersSection{
        min-height: fit-content;
    }
    
    .submitSection{
        max-height: 30px;
    }

    div.answerblockone, div.answerblocktwo{
        padding-bottom: 0%;
        padding-top: 0%;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    
    li{
        padding: 4px;
        margin: 8px;
        width: 90%;
        height: 80px;
    }

    ul{
        padding: 4% 5%;
    }

    .answersSection label{
        display: inline-block;
        padding: 30px 20px;
    }

}

@media screen and (max-width: 750px){
    h1{
        font-size: 1em;
    }

    h3, button{
        font-size: 0.8em;
    } 

    label{
        font-size: 0.5em;
    }
}
