
/* GENERAL STYLES */
*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: 'Rampart One', cursive;
}

body{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
  background-repeat: no-repeat;
}

h1{
  color: white;
  margin-top: 1vh;
  padding: 7px;
  font-size: 5rem;
}

#imagenLogo img{
  width: 5vw;
}

.headerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#imagenLogo img{
  width: 5vw;
}

#chart2 {
    background: beige;
    border-radius: 10px;
    padding-top: 10px;
  }
  
  #title{
    color:#d85a5d;
    margin-bottom: 10px;
  }
  
  h2{
   color: #04AEF1
  }

  h3{
    color: #d85a5d
  }

  .ct-chart{
    display: flex;
    height: 200px;
    width: 80%;
  }

  #enlace { 
    max-width: 400px;
  }

  @media screen and (max-width: 700px){
  #enlace { 
    max-width: 50%;
  }
  }
  /* he conseguido esto en la documentacion de la grafica. Podemos jugar con ello a ver que puede ayudarnos a customizarla*/

  
  /* First series a */
  
  .ct-series-a .ct-line {
    stroke: black;
    stroke-width: 4px;
  }
  
  .ct-series-a .ct-point {
    stroke: #d85a5d;
    stroke-width: 14px;
  }
  
  
  /* Second series b */
  
  .ct-series-b .ct-line {
    stroke: Orange;
    stroke-width: 4px;
  }
  
  .ct-series-b .ct-point {
    stroke: #86C093;
    stroke-width: 14px;
  }
  
  /* Custom Css for the labels */
  
  #labels{
    padding-top:10px;
    display:block;
    height: 30px;
    width: 100%;
    border-radius:4px;
    margin-bottom: 10px;
    background-color: rgb(231, 4, 4);
    text-align:center;
  }
  
  #series-b{
    float:right;
  }
  
  
  .label-series-a{
    stroke:rgb(220, 9, 9);
    fill:orange;
    stroke-width: 4px;
  }
  
  .label-series-b{
    stroke:red;
    fill:black;
    stroke-width: 4px;
  }
  