/* GENERAL STYLES */
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.headerTitle{
    background-color: #2880c1;
    margin: 0%;
    padding: 0%;
    height: 60px;
    width: 100vw;
}

h1{
    color: white;
    margin: 0%;
    padding: 7px;
}


/* LANDING CSS */
body {
    width: 100%;
    height: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


#logo {
    width: 300px;
    height: 300px;
    border: 2px solid black;
}



#conexion {
    width: 50vw;
    height: 10vh;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}

#registroLogin {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.divRegister, .divLogin {
    width: 20vw;
    height: 20vh;
    border-radius: 3px;
    background-color: white;
    margin: 0 2rem 0 2rem;

}



/* RESPONSIVE */
@media screen and (max-width: 1000px){
    h1{
        font-size: 1.3em;
    }
    .questionSection{
        min-height: auto;
    }
    
    .answersSection{
        min-height: fit-content;
    }
    
    .submitSection{
        max-height: 30px;
    }

    div.answerblockone, div.answerblocktwo{
        padding-bottom: 0%;
        padding-top: 0%;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    
    li{
        background-color: rgb(198, 216, 191);
        padding: 4px;
        margin: 8px;
        width: 90%;
        height: 60px;
    }

    ul{
        padding: 4% 5%;
    }
}


